
.invisible {
    visibility: hidden;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.infos {
    text-align: center;
    color: lightsalmon;
}