@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3,
span {
  color: rgb(89, 17, 157);
  font-weight: 500;
}

body {
  background-color: #000000;
  color: whitesmoke;
  font-family: 'Space Grotesk', serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-inline: auto;
  padding: 20px 30px;
  border: 3px solid whitesmoke;
}

button {
  color: whitesmoke;
  border: 3px solid whitesmoke;
  background-color: #000000;
  border-radius: 12px;
  padding: 10px 30px;
}

button:hover {
  color: #000000;
  border: 3px solid #000000;
  background-color: whitesmoke;
  cursor: pointer;
}

.main_list {
  display: flex;
  gap: 40px;
}

.main_list li {
  cursor: pointer;
}

.logo {
  height: 40px;
  background-color: whitesmoke;
  padding: 10px 5px;
  border-radius: 12px;
}

main {
  display: flex;
}

.side_bar {
  width: 100px;
  height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  border-top: none;
}

.side_bar ul {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side_bar_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.side_bar_element img,
.data img {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 90px;
}

.main {
  width: 100%;
  height: calc(100vh - 85px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section {
  position: relative;
  min-height: 30%;
  height: fit-content;
  padding: 30px 15px;
  border: 3px solid whitesmoke;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  gap: 30px;
}

.section_img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.datas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.data {
  color: #000000;
  display: flex;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 12px;
}

.data_right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
